{% extends 'base.html' %}

{% block title %}
    <title>Pollinators</title>
{% endblock %}


{% block content %}
    <div class="container is-max-desktop">
        {% for pollinator in object_list %}
            <div class="card mb-5 p-0">
                <a href="{% url 'pollinator_detail' pollinator.id %}">
                    <div class="card-content">
                        <p class="card-header-title p-0">{{ pollinator.name.capitalize }}</p>
                        <div class="ml-4">
                            <p>{{ pollinator.description.capitalize }}</p>
                            <p>{{ pollinator.get_type_display }}</p>
                        </div>
                    </div>
                </a>
            </div>
    {% endfor %}
    </div>

{% endblock %}
