{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}
    {% if object %}
        <title>Update {{ object.name }}</title>
    {% else %}
        <title>Add a Pollinator</title>
    {% endif %}
{% endblock %}


{% block content %}
    {% if object %}
        <h2>Update {{ object.name }}</h2>
    {% else %}
        <h2>Create a Pollinator</h2>
    {% endif %}

    <div class="container form-medium">
        <form class="is-horizontal" method="POST">
            {% csrf_token %}
        <table class="mb-4">
            {{ form|bulma }}
        </table>
        <input type="submit" value="Submit" class="button is-success is-outlined is-rounded">
    </form>
</div>

{% endblock %}