{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}
    {% if object %}
        <title>Update {{ object.name }}</title>
    {% else %}
        <title>Add a Pollinator</title>
    {% endif %}
{% endblock %}


{% block content %}
    {% if object %}
        <h1>Update {{ object.name }}</h1>
    {% else %}
        <h1>Create a Pollinator</h1>
    {% endif %}

    <div class="container">
        <form class="is-horizontal" method="POST">
            {% csrf_token %}
        <table class="mb-4">
            {{ form|bulma }}
        </table>
        <input type="submit" value="Submit" class="button is-success is-outlined is-rounded column is-offset-9 mb-4">
    </form>
</div>

{% endblock %}