{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}

        <div>
            <h2>{{ flower.name.capitalize }}</h2>
            <p>{{ flower.color.capitalize }}</p>
            <p>{{ flower.description }}</p>
            <p>{{ flower.get_stage_display }} stage</p>
            <div>
                <a href="{% url 'flower_update' flower.id %}" class="button is-small is-warning is-light">Update</a>
                <a href="{% url 'flower_delete' flower.id %}" class="button is-small is-danger is-light">Delete</a>
            </div>
        </div>
        <div>
            {% for photo in flower.photo_set.all %}
                <img src="{{ photo.url }}" alt="{{ flower.name }}">
            {% empty %}
                <span>No Photos Uploaded</span>
            {% endfor %}
        </div>
        <form action="{% url 'add_photo' flower.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo-file" class="button is-text">
            <input type="submit" value="Upload Photo" class="button is-success is-light">
        </form>

        <br>
        <br>
        <div>
            <h3>Watering Log</h3>
            <form action="{% url 'add_watering' flower.id %}" method="POST"  class="form-small">
                {% csrf_token %}
                <table>
                    {{ form|bulma }}
                </table>
                <input type="submit" value="Water" class="button is-success is-outlined is-rounded">
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Inches of Water</th>
                    </tr>
                </thead>
                <tbody>
                    {% for watering in flower.watering_set.all %}
                        <tr>
                            <td>{{ watering.date }}</td>
                            <td>{{ watering.inches }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


{% endblock %}