{% extends 'base.html' %}

{% block content %}

        <div>
            <h3>name: {{ flower.name.capitalize }}</h3>
            <p>{{ flower.color.capitalize }}</p>
            <p>{{ flower.description }}</p>
            <p>Life Cycle Stage: {{ flower.stage }}</p>
            <a href="{% url 'flower_update' flower.id %}">Update</a>
            <a href="{% url 'flower_delete' flower.id %}">Delete</a>
        </div>

        <div>
            <form action="{% url 'add_watering' flower.id %}" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Water" class="button is-success is-outlined is-rounded">
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Inches of Water</th>
                    </tr>
                </thead>
                <tbody>
                    {% for watering in flower.watering_set.all %}
                        <tr>
                            <td>{{ watering.date }}</td>
                            <td>{{ watering.inches }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


{% endblock %}