{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% block title %}
        <title>Flower Collector</title>
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'home' %}">Flower Collector</a>
            </div>
            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'flower_list' %}">View Flowers</a>
                    <a class="navbar-item" href="{% url 'flower_create' %}">Add a Flower</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="navbar-item" href="{% url 'login' %}">Login</a>
                    <a class="navbar-item" href="{% url 'signup' %}">Signup</a>
            </div>
                {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <span>Copyright &copy; All Rights Reserved</span>
            <br>
            <span>Flower Collector {% now 'Y' %} </span>
        </div>

    </footer>
</body>
</html>